.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  padding: 20px;
  height: 360px;
  justify-content: space-evenly;
}

.emailInputWrapper {
  margin-bottom: 40px;
  position: relative;
}

.header {
  color: #4a4e71;
}